In [61]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests

from bs4 import BeautifulSoup

Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [58]:
driver = webdriver.Chrome()

In [60]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [67]:
rank=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[1]")
for i in title_tags:
    title=i.text
    rank.append(title)

In [69]:
date=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[5]")
for i in title_tags:
    title=i.text
    date.append(title)

In [71]:
view=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[4]")
for i in title_tags:
    title=i.text
    view.append(title)

In [73]:
name=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[2]")
for i in title_tags:
    title=i.text
    name.append(title)

In [75]:
artist=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='mw-content-text']/div[1]/table[1]/tbody/tr/td[3]")
for i in title_tags:
    title=i.text
    artist.append(title)

In [76]:
import pandas as pd
df=pd.DataFrame({'Rank':rank,'Upload date':date,'Total View':view,'Video Name':name,'Artist':artist})
df

,Rank,Upload date,Total View,Video Name,Artist
0,1.,"June 17, 2016",13.18,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs
1,2.,"January 12, 2017",8.23,"""Despacito""[9]",Luis Fonsi
2,3.,"October 8, 2016",6.76,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes
3,4.,"May 2, 2018",6.33,"""Bath Song""[17]",Cocomelon - nursery rhymes
4,5.,"January 30, 2017",6.05,"""Shape of You""[18]",Ed Sheeran
5,6.,"April 6, 2015",5.98,"""See You Again""[21]",Wiz Khalifa
6,7.,"May 24, 2018",5.46,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes
7,8.,"March 6, 2014",5.42,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs
8,9.,"November 19, 2014",5.00,"""Uptown Funk""[28]",Mark Ronson
9,10.,"February 27, 2018",4.94,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs
10,11.,"July 15, 2012",4.86,"""Gangnam Style""[30]",Psy
11,12.,"January 31, 2012",4.55,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs
12,13.,"April 5, 2018",4.41,"""Dame Tu Cosita""[36]",El Chombo
13,14.,"June 16, 2009",4.00,"""Axel F""[37]",Crazy Frog
14,15.,"January 14, 2015",3.91,"""Sugar""[38]",Maroon 5
15,16.,"September 5, 2013",3.84,"""Roar""[39]",Katy Perry
16,17.,"May 31, 2013",3.84,"""Counting Stars""[40]",OneRepublic
17,18.,"June 25, 2018",3.73,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes
18,19.,"October 22, 2015",3.69,"""Sorry""[42]",Justin Bieber
19,20.,"June 4, 2010",3.68,"""Waka Waka (This Time for Africa)""[43]",Shakira
20,21.,"October 7, 2014",3.63,"""Thinking Out Loud""[44]",Ed Sheeran
21,22.,"June 14, 2018",3.63,"""Lakdi Ki Kathi""[45]",Jingle Toons
22,23.,"February 20, 2014",3.56,"""Dark Horse""[46]",Katy Perry
23,24.,"November 9, 2017",3.51,"""Perfect""[47]",Ed Sheeran
24,25.,"December 3, 2015",3.49,"""Faded""[48]",Alan Walker
25,26.,"July 25, 2012",3.48,"""Let Her Go""[49]",Passenger
26,27.,"January 26, 2018",3.51,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs
27,28.,"May 31, 2018",3.45,"""Girls Like You""[51]",Maroon 5
28,29.,"April 11, 2014",3.43,"""Bailando""[52]",Enrique Iglesias
29,30.,"March 22, 2015",3.43,"""Lean On""[53]",Major Lazer

Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [77]:
driver = webdriver.Chrome()

In [78]:
driver.get("https://www.bcci.tv/")

In [83]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')
search_btn.click()

In [84]:
search1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
search1.click()

In [129]:
team_name=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='match-card-middle d-flex']")
for i in title_tags:
    title=i.text.split('\n')
    team_name.append(title)

In [130]:
team_name

[['Ireland', 'vs', 'India'],
 ['Ireland', 'vs', 'India'],
 ['Ireland', 'vs', 'India'],
 ['India', 'vs', 'Pakistan'],
 ['India', 'vs', 'Nepal'],
 ['India', 'vs', 'Australia'],
 ['India', 'vs', 'Australia'],
 ['India', 'vs', 'Australia'],
 ['India', 'vs', 'Australia'],
 ['India', 'vs', 'Afghanistan'],
 ['India', 'vs', 'Pakistan'],
 ['India', 'vs', 'Bangladesh'],
 ['India', 'vs', 'New Zealand'],
 ['India', 'vs', 'England'],
 ['India', 'vs', 'Sri Lanka'],
 ['India', 'vs', 'South Africa']]

In [127]:
date=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='match-card']/div[1]/div/div[1]")
for i in title_tags:
    title=i.text
    date.append(title)

In [128]:
date

['18 AUG 2023',
 '20 AUG 2023',
 '23 AUG 2023',
 '2 SEP 2023',
 '4 SEP 2023',
 '22 SEP 2023',
 '24 SEP 2023',
 '27 SEP 2023',
 '8 OCT 2023',
 '11 OCT 2023',
 '14 OCT 2023',
 '19 OCT 2023',
 '22 OCT 2023',
 '29 OCT 2023',
 '2 NOV 2023',
 '5 NOV 2023']

In [131]:
ground=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='match-card']/div[3]/div/span[2]")
for i in title_tags:
    title=i.text
    ground.append(title)

In [132]:
ground

['The Village,',
 'The Village,',
 'The Village,',
 'Pallekele International Cricket Stadium,',
 'Pallekele International Cricket Stadium,',
 'Punjab Cricket Association IS Bindra Stadium,',
 'Holkar Cricket Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'MA Chidambaram Stadium,',
 'Arun Jaitley Stadium,',
 'Narendra Modi Stadium,',
 'Maharashtra Cricket Association Stadium,',
 'Himachal Pradesh Cricket Association Stadium,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Wankhede Stadium,',
 'Eden Gardens,']

In [133]:
test=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='match-card']/div[3]/div/span[1]")
for i in title_tags:
    title=i.text
    test.append(title)

In [134]:
test

['1st T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '1st ODI -',
 '2nd ODI -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '4th ODI -',
 '5th ODI -',
 '6th ODI -',
 '7th ODI -',
 '8th ODI -']

In [135]:
m_title=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='match-card']/div[1]/h5")
for i in title_tags:
    title=i.text
    m_title.append(title)

In [136]:
m_title

['INDIA TOUR OF IRELAND 2023',
 'INDIA TOUR OF IRELAND 2023',
 'INDIA TOUR OF IRELAND 2023',
 'ASIA CUP 2023',
 'ASIA CUP 2023',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'AUSTRALIA TOUR OF INDIA 2023-24',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023',
 'ICC MENS WORLD CUP 2023']

In [124]:
time=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='match-card']/div[1]/div/div[2]")
for i in title_tags:
    title=i.text
    time.append(title)

In [125]:
time

['10:00 AM EDT',
 '10:00 AM EDT',
 '10:00 AM EDT',
 '12:30 AM EDT',
 '12:30 AM EDT',
 '4:00 AM EDT',
 '4:00 AM EDT',
 '4:00 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '4:30 AM EDT',
 '3:30 AM EDT']

In [137]:
df=pd.DataFrame({'Match title':m_title,'Series':team_name,'Date':date,'Time':time,'Place':ground,'Match':test})
df

,Match title,Series,Date,Time,Place,Match
0,INDIA TOUR OF IRELAND 2023,"[Ireland, vs, India]",18 AUG 2023,10:00 AM EDT,"The Village,",1st T20I -
1,INDIA TOUR OF IRELAND 2023,"[Ireland, vs, India]",20 AUG 2023,10:00 AM EDT,"The Village,",2nd T20I -
2,INDIA TOUR OF IRELAND 2023,"[Ireland, vs, India]",23 AUG 2023,10:00 AM EDT,"The Village,",3rd T20I -
3,ASIA CUP 2023,"[India, vs, Pakistan]",2 SEP 2023,12:30 AM EDT,"Pallekele International Cricket Stadium,",1st ODI -
4,ASIA CUP 2023,"[India, vs, Nepal]",4 SEP 2023,12:30 AM EDT,"Pallekele International Cricket Stadium,",2nd ODI -
5,AUSTRALIA TOUR OF INDIA 2023-24,"[India, vs, Australia]",22 SEP 2023,4:00 AM EDT,"Punjab Cricket Association IS Bindra Stadium,",1st ODI -
6,AUSTRALIA TOUR OF INDIA 2023-24,"[India, vs, Australia]",24 SEP 2023,4:00 AM EDT,"Holkar Cricket Stadium,",2nd ODI -
7,AUSTRALIA TOUR OF INDIA 2023-24,"[India, vs, Australia]",27 SEP 2023,4:00 AM EDT,"Saurashtra Cricket Association Stadium,",3rd ODI -
8,ICC MENS WORLD CUP 2023,"[India, vs, Australia]",8 OCT 2023,4:30 AM EDT,"MA Chidambaram Stadium,",1st ODI -
9,ICC MENS WORLD CUP 2023,"[India, vs, Afghanistan]",11 OCT 2023,4:30 AM EDT,"Arun Jaitley Stadium,",2nd ODI -
10,ICC MENS WORLD CUP 2023,"[India, vs, Pakistan]",14 OCT 2023,4:30 AM EDT,"Narendra Modi Stadium,",3rd ODI -
11,ICC MENS WORLD CUP 2023,"[India, vs, Bangladesh]",19 OCT 2023,4:30 AM EDT,"Maharashtra Cricket Association Stadium,",4th ODI -
12,ICC MENS WORLD CUP 2023,"[India, vs, New Zealand]",22 OCT 2023,4:30 AM EDT,"Himachal Pradesh Cricket Association Stadium,",5th ODI -
13,ICC MENS WORLD CUP 2023,"[India, vs, England]",29 OCT 2023,4:30 AM EDT,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6th ODI -
14,ICC MENS WORLD CUP 2023,"[India, vs, Sri Lanka]",2 NOV 2023,4:30 AM EDT,"Wankhede Stadium,",7th ODI -
15,ICC MENS WORLD CUP 2023,"[India, vs, South Africa]",5 NOV 2023,3:30 AM EDT,"Eden Gardens,",8th ODI -

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [138]:
driver=webdriver.Chrome()

In [139]:
driver.get("http://statisticstimes.com/")

In [140]:
search = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')       
search.click()

In [141]:
search1 = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')      
search1.click()

In [142]:
search2 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')      
search2.click()

In [163]:
rank=[]
title_tags=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in title_tags[0:33]:
    title=i.text
    rank.append(title)

In [165]:
state=[]
title_tags=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in title_tags[0:33]:
    title=i.text
    state.append(title)

In [149]:
gsdp_c=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for i in title_tags:
    title=i.text
    gsdp_c.append(title)

In [151]:
gsdp_p=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[8]")
for i in title_tags:
    title=i.text
    gsdp_p.append(title)

In [153]:
gdp=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in title_tags:
    title=i.text
    gdp.append(title)

In [155]:
share=[]
title_tags=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for i in title_tags:
    title=i.text
    share.append(title)

In [167]:
len(rank),len(gsdp_c),len(state),len(gsdp_p),len(share),len(gdp)

(33, 33, 33, 33, 33, 33)

In [168]:
df=pd.DataFrame({'Rank':rank,'State Name':state,'GSDP Current':gsdp_c,'GSDP Previous':gsdp_p,'GDP':gdp,'Share':share})
df

   Rank                 State Name GSDP Current GSDP Previous      GDP   Share
0     1                Maharashtra    2,632,792     2,039,074  399.921  13.94%
1     2                 Tamil Nadu    1,630,208     1,215,307  247.629   8.63%
2     3              Uttar Pradesh    1,584,764     1,123,982  240.726   8.39%
3     4                    Gujarat    1,502,899     1,186,379  228.290   7.96%
4     5                  Karnataka    1,493,127     1,091,077  226.806   7.91%
5     6                West Bengal    1,089,898       739,525  165.556   5.77%
6     7                  Rajasthan      942,586       677,428  143.179   4.99%
7     8             Andhra Pradesh      862,957       621,301  131.083   4.57%
8     9                  Telangana      861,031       612,828  130.791   4.56%
9    10             Madhya Pradesh      809,592       522,009  122.977   4.29%
10   11                     Kerala      781,653       559,412  118.733   4.14%
11   12                      Delhi      774,870       590,569  117.703   4.10%
12   13                    Haryana      734,163       531,085  111.519   3.89%
13   14                      Bihar      530,363       375,651   80.562   2.81%
14   15                     Punjab      526,376       397,669   79.957   2.79%
15   16                     Odisha      487,805       376,877   74.098   2.58%
16   17                      Assam      315,881       234,048   47.982   1.67%
17   18               Chhattisgarh      304,063       231,182   46.187   1.61%
18   19                  Jharkhand      297,204       224,986   45.145   1.57%
19   20                Uttarakhand      245,895       193,273   37.351   1.30%
20   21            Jammu & Kashmir      155,956       112,755   23.690   0.83%
21   22           Himachal Pradesh      153,845       117,851   23.369   0.81%
22   23                        Goa       73,170        57,787   11.115   0.39%
23   24                    Tripura       49,845        36,963    7.571   0.26%
24   25                 Chandigarh       42,114        31,192    6.397   0.22%
25   26                 Puducherry       34,433        23,013    5.230   0.18%
26   27                  Meghalaya       33,481        24,682    5.086   0.18%
27   28                     Sikkim       28,723        18,722    4.363   0.15%
28   29                    Manipur       27,870        19,300    4.233   0.15%
29   30                   Nagaland       27,283        17,647    4.144   0.14%
30   31          Arunachal Pradesh       24,603        16,676    3.737   0.13%
31   32                    Mizoram       22,287        16,478    3.385   0.12%
32   33  Andaman & Nicobar Islands            -             -        -       -

Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [209]:
driver=webdriver.Chrome()

In [210]:
driver.get("https://github.com/")

In [213]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button')      
search.click()

In [219]:
search1=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search1.click()

In [224]:
name=[]
title_tags=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in title_tags:
    title=i.text.split('/')[0]
    name.append(title)

In [262]:
detail=[]
title_tags=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in title_tags:
    title=i.text
    detail.append(title)

In [265]:
lng=[]
title_tags=driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']")
for i in title_tags:
    title=i.text
    lng.append(title)

In [254]:
link=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='Link Link--muted d-inline-block mr-3']")
for i in title_tags:
    title=i.text
    link.append(title)

In [257]:
cnt=[]
for i in range(1,len(link),2):
    cnt.append(link[i])

In [267]:
len(name),len(detail),len(lng),len(cnt)

(25, 22, 22, 25)

In [269]:
df=pd.DataFrame({'Repository Title':name[0:22],'Repository desription':detail,'Language used':lng,'Contributors count':cnt[0:22]})
df

,Repository Title,Repository desription,Language used,Contributors count
0,lllyasviel,Focus on prompting and generating,Python,222
1,roboflow,We write your reusable computer vision tools. 💜,Python,136
2,assafelovic,GPT based autonomous agent that does online co...,Python,333
3,llSourcell,DoctorGPT is an LLM that can pass the US Medic...,Jupyter Notebook,184
4,normal-computing,Generative Model Programming,Python,48
5,DroidKaigi,2023 HVV情报速递~,Kotlin,80
6,ibaiw,Small chrome extension to monitor other extens...,JavaScript,87
7,dnakov,"The Patterns of Scalable, Reliable, and Perfor...",Python,21
8,binhnguyennus,"Official implementation of ""Neuralangelo: High...",Python,"5,211"
9,NVlabs,Master programming by recreating your favorite...,Python,135
10,codecrafters-io,ALL IN ONE Hacking Tool For Hackers,Python,"20,745"
11,Z4nzu,Interact privately with your documents using t...,TypeScript,"3,833"
12,imartinez,one-click deepfake (face swap),Python,"4,597"
13,s0md3v,"🚀🎉📚 APITable, an API-oriented low-code platfor...",Jupyter Notebook,"3,627"
14,apitable,Examples and guides for using the OpenAI API,Jupyter Notebook,765
15,Dicklesworthstone,Self-hosted photo and video backup solution di...,Dart,15
16,openai,A sample app for the Retrieval-Augmented Gener...,Python,"7,494"
17,mshumer,Family of instruction-following LLMs powered b...,Python,136
18,immich-app,Clean Architecture for Android - a sample project,Kotlin,679
19,Azure-Samples,👋 Hey there new grad🎉! We've put together a co...,Python,"1,852"
20,nlpxucan,A well-designed cross-platform ChatGPT UI (Web...,TypeScript,353
21,EranBoudjnah,Chat with your documents on your local device ...,Python,17

Scrape the details of Highest selling novels.

In [270]:
driver=webdriver.Chrome()

In [272]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [273]:
book=[]
title_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
for i in title_tags:
    title=i.text
    book.append(title)

In [275]:
author=[]
title_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")
for i in title_tags:
    title=i.text
    author.append(title)

In [277]:
volume=[]
title_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")
for i in title_tags:
    title=i.text
    volume.append(title)

In [279]:
publisher=[]
title_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")
for i in title_tags:
    title=i.text
    publisher.append(title)

In [281]:
genre=[]
title_tags=driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")
for i in title_tags:
    title=i.text
    genre.append(title)

In [283]:
df=pd.DataFrame({'Book Name':book,'Author Name':author,'Volume':volume,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author Name,Volume,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [284]:
driver=webdriver.Chrome()

In [285]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [286]:
name=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/h3/a")
for i in title_tags:
    title=i.text
    name.append(title)

In [288]:
year=[]
title_tags=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in title_tags:
    title=i.text
    year.append(title)

In [290]:
genre=[]
title_tags=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in title_tags:
    title=i.text
    genre.append(title)

In [292]:
time=[]
title_tags=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in title_tags:
    title=i.text
    time.append(title)

In [294]:
rating=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
for i in title_tags:
    title=i.text
    rating.append(title)

In [296]:
vote=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")
for i in title_tags:
    title=i.text
    vote.append(title)

In [298]:
df=pd.DataFrame({'Name':name,'Year':year,'Genre':genre,'Runtime':time,'Rating':rating,'Votes':vote})
df

,Name,Year,Genre,Runtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,193,062"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,821"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,951"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,960"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,029"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,424"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,453"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,098"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,686"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,655"

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

In [392]:
driver=webdriver.Chrome()

In [393]:
driver.get("https:/www.billboard.com/")

In [372]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
search.click()

In [373]:
search1=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
search1.click()

In [375]:
search2=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
search2.click()

In [397]:

first_name=driver.find_element(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3")

In [399]:
first_name.text

'Last Night'

In [400]:
name=[]
name.append(first_name.text)
title_tags=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in title_tags:
    title=i.text
    name.append(title)

In [425]:
week=[]

title_tags=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")
for i in title_tags:
    title=i.text
    week.append(title)

In [435]:
last_week=[]
for i in range(0,len(week),2):
    last_week.append(week[i])

In [437]:
week_on_chart=[]
for i in range(1,len(week),2):
    week_on_chart.append(week[i])

In [439]:
pos=[]

title_tags=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")
for i in title_tags:
    title=i.text
    pos.append(title)

In [441]:
POS=[]
for i in range(1,len(pos),2):
    POS.append(pos[i])

In [445]:
first_singer=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span")
first_singer.text

'Morgan Wallen'

In [448]:
singer=[]
singer.append(first_singer.text)

title_tags=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in title_tags:
    title=i.text
    singer.append(title)

In [450]:
df=pd.DataFrame({'Song Name':name,'Artist Name':singer,'Last Week Rank':last_week,'Peak Rank':POS,'Week on board':week_on_chart})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week on board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

In [473]:
driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [474]:
driver.get("https://archive.ics.uci.edu/")

In [475]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [477]:
search1=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]')
search1.click()

In [478]:
name=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='link-hover link text-xl font-semibold']")
for i in title_tags:
    title=i.text
    name.append(title)

In [509]:
data=[]
title_tags=driver.find_elements(By.XPATH,"//div[@class='col-span-3 flex items-center gap-2']")
for i in title_tags:
    title=i.text
    data.append(title)

In [510]:
data

['Classification',
 'Multivariate',
 '150 Instances',
 '4 Attributes',
 'Classification',
 'Multivariate',
 '303 Instances',
 '13 Attributes',
 'Classification',
 'Multivariate',
 '48.84K Instances',
 '14 Attributes',
 'Classification',
 'Multivariate',
 '13.61K Instances',
 '16 Attributes',
 '20 Attributes',
 'Classification',
 'Multivariate',
 '178 Instances',
 '13 Attributes',
 'Classification',
 'Multivariate',
 '569 Instances',
 '30 Attributes',
 'Classification',
 'Multivariate',
 '1.73K Instances',
 '6 Attributes',
 'Classification',
 'Multivariate',
 '3.81K Instances',
 '8 Attributes',
 'Classification',
 'Multivariate',
 '8.12K Instances',
 '22 Attributes']